venv
.java
.jabba
.idea
.logs
.vscode
.git
.gitignore
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.env
.env.*
!.example.env
local_database
.app_commands_sync_data
.db_cache
plugins
Lavalink.jar
*.log
.pytest_cache
.mypy_cache
.ruff_cache
