#########################################################################
### Note: to use this file, you must rename it to .env               ###
### If a value contains spaces, always wrap the value in quotes!     ###
#########################################################################

##########################################################################################################
### Bot TOKEN (Required)                                                                               ###
### Note: You can include extra bots by adding more tokens in the value (separated by spaces)         ###
### or by creating a config with any name (using only letters/numbers/underscores) and placing        ###
### the token(s) in its value (separated by spaces if more than one token is used).                   ###
###                                                                                                    ###
### Examples:                                                                                          ###
### TOKEN='bbbbbbbbbcccDASDSAdeefff.gggghhhhiiii'                                                      ###
### MYBOT='asdsadbbc2cDASDSAdeef3ff.adew234411ax'                                                      ###
###                                                                                                    ###
### Examples with multiple tokens in the value (separated by space):                                  ###
### TOKEN='aaabbbbbccccddddeeeefff.gggghhhhiiii aaabbbbb324234dddeeeefff.gggghhhhiiii'                 ###
### MYBOT='bbbbbbbbbcccDASDSAdeefff.gggghhhhiiii 213bbabscccddeeeefff.gggghhhhiiii'                    ###
### COOLBOT='bbbbbbbbbcccDASDSAdeefff.gggghhhhiiii 213bbabscccddeeeefff.gggghhhhiiii'                  ###
##########################################################################################################

# Bot token(s) below (separate with a space if adding more than 1 token)
TOKEN=''

# Default bot prefix
DEFAULT_PREFIX='!!'

# Automatically download a list of public lavalink servers.
# If hosting on a free plan with limited cpu/ram/traffic, it is recommended to set this to true.
AUTO_DOWNLOAD_LAVALINK_SERVERLIST=false

# MongoDB URL for the database (if not set, a local .json file database will be used). See how to obtain: https://github.com/zRitsu/MuseHeart-MusicBot/wiki/MongoDB-Tutorial"
MONGO=''

# Save active player session data to MongoDB (the MONGO field must be configured).
# If false, data will be saved in the local database (json).
PLAYER_SESSIONS_MONGODB=false

# Emit a warning about sensitive data that may be stored on hosts with public source access.
SENSITIVE_INFO_WARN=true

##############################################
### Music System - Spotify Support         ###
##############################################

# Use your own key instead of an automatically obtained visitor key.
# If unsure how to obtain the data for the fields below, see the tutorial: https://github.com/zRitsu/MuseHeart-MusicBot/wiki/Spotify-Keys
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''

# Set the limit for the number of additional playlist pages to load songs from Spotify beyond the first 100 songs.
# Each page corresponds to 100 additional songs (it is recommended not to increase this too much as each page triggers an extra request to the Spotify API).
SPOTIFY_PLAYLIST_EXTRA_PAGE_LIMIT=0

###############
### Intents ###
###############
BANS_INTENT='false'
DM_MESSAGES_INTENT='false'
DM_REACTIONS_INTENT='false'
DM_TYPING_INTENT='false'
GUILD_MESSAGES_INTENT='true'
GUILD_REACTIONS_INTENT='false'
GUILD_SCHEDULED_EVENTS_INTENT='false'
GUILD_TYPING_INTENT='false'
EMOJIS_AND_STICKERS_INTENT='true'
INTEGRATIONS_INTENT='true'
INVITES_INTENT='true'
VOICE_STATES_INTENT='true'
WEBHOOKS_INTENT='false'

##########################
### Privileged Intents ###
##########################
PRESENCES_INTENT='false'
MESSAGE_CONTENT_INTENT='true'

##############################
### Other optional items   ###
##############################

# User ID(s) for the bot owner list. If using more than 1 ID, separate with || (Any ID in this list grants full bot access — be careful!).
OWNER_IDS=''

# Force-terminate the bot on error 429 (too many requests)
KILL_ON_429=true

# Enable cooldown on commands (recommended to leave as true unless the bot is used in small/private servers)
# because uncontrolled command usage within very short intervals (e.g. skip) can cause your lavalink servers
# to hit ratelimits from music platforms faster.
ENABLE_COMMANDS_COOLDOWN=true

# Enable/Disable command logging.
COMMAND_LOG=false

# Support server invite link (shown in the about command and command errors).
SUPPORT_SERVER=''

# Automatically sync commands when the bot starts.
AUTO_SYNC_COMMANDS=true

# Webhook link for logging when the bot is added/removed from a server.
BOT_ADD_REMOVE_LOG=''

# Channel ID for logging when the bot is added/removed from a server.
BOT_ADD_REMOVE_LOG_CHANNEL_ID='0'

# Webhook link for sending error reports (ignored if AUTO_ERROR_REPORT_WEBHOOK is used).
ERROR_REPORT_WEBHOOK=''

# Webhook link for automatic error reporting.
# Warning: it is highly recommended that the channel receiving these logs is private to the bot developers,
# as it may expose sensitive information such as env keys/secrets etc.
AUTO_ERROR_REPORT_WEBHOOK=''

# Player embed color (if not set, the bot's role color will be used).
EMBED_COLOR=none

# GitHub link used in commands such as the update command.
SOURCE_REPO='https://github.com/zRitsu/MuseHeart-MusicBot.git'

# Disallow the use of prefix-based text commands.
INTERACTION_COMMAND_ONLY=false

# Time in seconds to rotate the bot's presence status.
PRESENCE_INTERVAL=900

# Additional bot IDs to include invites for in the invite command (separate with space if more than one)
ADDITIONAL_BOT_IDS=""

# Permission ID to include in the bot invite link
INVITE_PERMISSIONS=332892794064

# Enable/Disable bot log/debug.
ENABLE_LOGGER=false

# Default directory to use for git
GIT_DIR="./.git"

#########################
### Music System      ###
#########################

# Warn when the bot does not have server deafen enabled.
GUILD_DEAFEN_WARN=true

# Link to download the lavalink server list (lavalink.ini)
LAVALINK_SERVER_LIST='https://gist.githubusercontent.com/zRitsu/c3511e1da0440b94c126769dd40c9d91/raw/lavalink.ini'

# Number of retry attempts to reconnect to a lavalink server
LAVALINK_RECONNECT_RETRIES=30

# Force the use of the internal Deezer client (Deezer link requests will be ignored on the lavalink server if it has support).
FORCE_USE_DEEZER_CLIENT=false

# Favorites limit per member (0 or less = no limit)
MAX_USER_FAVS=10

# Character limit for playlist names.
USER_FAV_MAX_NAME_LENGTH=35

# Character limit for playlist URLs.
USER_FAV_MAX_URL_LENGTH=90

# Time in seconds for the bot to wait for new songs in idle mode.
IDLE_TIMEOUT=180

# Time in seconds for the bot to wait for members to join the voice channel when empty.
WAIT_FOR_MEMBERS_TIMEOUT=180

# Default player skin for normal mode (you can copy the default skin, rename it, and edit it freely — it won't be affected by updates to the original skins).
DEFAULT_SKIN='default'

# Default player skin for song-request mode (you can copy the default skin, rename it, and edit it freely — it won't be affected by updates to the original skins).
DEFAULT_STATIC_SKIN='default'

# Ignore skins from the normal mode list (filename without .py; separate with space if more than one)
IGNORE_SKINS=''

# Ignore skins from the song-request mode list (filename without .py; separate with space if more than one)
IGNORE_STATIC_SKINS=''

# Include additional hints in the player (do not use line breaks; separate multiple hints with ||)
EXTRA_HINTS=""

# Hint display rate in the player (the higher the value, the lower the chance of showing).
HINT_RATE=4

# Number of votes required for the voteskip command.
VOTE_SKIP_AMOUNT=3

# Wait time for clearing pool_payload_ready event data.
PREFIXED_POOL_TIMEOUT=4

# Enable support for Discord links (and attachments) in music add commands.
ENABLE_DISCORD_URLS_PLAYBACK=true

# Interval (in seconds) to save player information to the database (minimum: 30).
PLAYER_INFO_BACKUP_INTERVAL=45

# Timeout (in seconds) to wait for a MongoDB response.
MONGO_TIMEOUT=30

# Interval (in seconds) to save player information to the MongoDB database (minimum: 120).
PLAYER_INFO_BACKUP_INTERVAL_MONGO=300

# Maximum allowed number of songs in the queue (0 = unlimited)
QUEUE_MAX_ENTRIES=0

# Enable typing when using defer in some prefixed commands.
ENABLE_DEFER_TYPING=true

# Minimum latency (in ms) before the bot reconnects to the voice channel (in unstable situations).
VOICE_CHANNEL_LATENCY_RECONNECT=200

# Number of items to store playlist info in the internal cache.
PLAYLIST_CACHE_SIZE=500

# Duration of playlist info storage in the internal cache (in seconds).
PLAYLIST_CACHE_TTL=1800

# Prioritize music search using internal music providers instead of lavalink servers
PARTIALTRACK_FIRST=false

# Enable/Disable song requests via bot mention
ENABLE_SONGREQUEST_MENTION=true

################################################
### Music System - RPC (Rich Presence):      ###
################################################

# Enable/Disable the internal RPC server / Web page.
RUN_RPC_SERVER=false

# Enable/Disable the command to generate a token and display the link for use in the rich presence app (true or false)
ENABLE_RPC_COMMAND=false

# RPC server link (for member status); if not set, it will be used locally.
RPC_SERVER='ws://localhost:$PORT/ws'

# Link to display in the /rich_presence command.
# Note: if not set, the RPC_SERVER link will be displayed (if you consider the URL in RPC_SERVER
# accessible to members, you can leave the field below empty).
RPC_PUBLIC_URL=''

# Enable/Disable token authentication to access the RPC (false or true)
ENABLE_RPC_AUTH=false

# Cooldown for commands related to skipping YouTube tracks (helps prevent potential YouTube blocks and intentional command flooding).
YOUTUBE_TRACK_COOLDOWN=20

##################################################
### Music System - Local lavalink stuffs:      ###
##################################################

# Force start the local lavalink server (Note: Starting the lavalink server in the same instance as the bot
# requires a VPS/host with at least 512MB of RAM. If not enabled, ignore all lavalink-related items below.)
RUN_LOCAL_LAVALINK=false

# Connect to local lavalink
CONNECT_LOCAL_LAVALINK=true

# Prefer native YouTube support instead of trying to find the same song on other platforms
PREFER_YOUTUBE_NATIVE_PLAYBACK=true

# Register only search providers with native playback support.
ONLY_USE_NATIVE_SEARCH_PROVIDERS=true

# Default search providers (separate with spaces for multiple items, keeping the original quotes).
# Note: To disable YouTube support, remove ytsearch or ytmsearch from the list below (separated by space).
SEARCH_PROVIDERS="amsearch tdsearch spsearch scsearch ytsearch"

# Additional wait time for the lavalink server to start (currently not very necessary and may be removed soon).
LAVALINK_ADDITIONAL_SLEEP=0

# Initial RAM amount to use for the lavalink server process.
LAVALINK_INITIAL_RAM=30

# RAM limit to use for the lavalink server process.
LAVALINK_RAM_LIMIT=120

# Number of CPU cores to use for the lavalink server.
LAVALINK_CPU_CORES=1

# Link to download the Lavalink.jar file
LAVALINK_FILE_URL='https://github.com/zRitsu/LL-binaries/releases/download/0.0.1/Lavalink.jar'

# Use jabba to install Java on non-Windows systems.
# This can be used as an alternative when jabba cannot be used due to issues etc.
USE_JABBA=false

##################################################
### Music System - Last.fm Integration:        ###
##################################################

# You can obtain these credentials at: https://www.last.fm/api
LASTFM_KEY=''
LASTFM_SECRET=''

####################################################################################################################
##### Bot presences:                                                                                           #####
##### Status to display on the bot. To set more than 1 for a specific type, separate with ||                  #####
#####                                                                                                          #####
##### Placeholders:                                                                                            #####
##### {users} -> number of users.                                                                              #####
##### {guilds} -> number of servers.                                                                           #####
##### {playing} -> number of active players.                                                                   #####
##### {uptime} -> bot uptime.                                                                                  #####
##### {owner} -> nick/name of the bot owner (or team).                                                         #####
#####                                                                                                          #####
##### For the placeholders below, the entire text containing them will be ignored if the count is zero.        #####
#####                                                                                                          #####
##### {players_count} -> number of active players.                                                             #####
##### {players_count_allbotchannels} -> number of active players across all channels in all bots.              #####
##### {players_count_allbotservers} -> number of active players across all servers in all bots                 #####
##### (without duplicating the count if more than 1 bot is in the same server).                                #####
#####                                                                                                          #####
##### Ex: online for {uptime} || playing music in {playing} servers                                            #####
####################################################################################################################
LISTENING_PRESENCES=''
WATCHING_PRESENCES=''
PLAYING_PRESENCES=''
CUSTOM_STATUS_PRESENCES=''

# Note: for the streaming format you must provide the name and URL (Twitch or YouTube) separated by ||
# Ex: Showcasing my commands || https://www.youtube.com/watch?v=OsJYB2W199k
# For more than one streaming option, separate each group using |||
# Ex: Showcasing my commands || https://www.youtube.com/watch?v=OsJYB2W199k ||| Twin Saga runs || https://www.youtube.com/watch?v=sU-fmPFHzKA
STREAMING_PRESENCES=''

#####################
###### Extras #######
#####################
